<%- include ../layouts/header.ejs %>
<p>Zalogowano: <span><%=username%></span></p>
<div class="page-data">
  <form method="POST" action="/movies/edit/<%=data[0].id%>">
    <p><label>Tytuł</label> <input type="text" name="tytul" required value="<%=data[0].tytul%>"></p>
    <p><label>Reżyser</label> <input type="text" name="rezyser" required value="<%=data[0].rezyser%>"></p>
    <p><label>Średnia ocena</label> <input type="number" min="1" max="5" name="srednia_ocena" required value="<%=data[0].srednia_ocena%>"></p>
    <p><label>Gatunek</label> <input type="text" name="gatunek" required value="<%=data[0].gatunek%>"></p>

    <button style="margin: 5px;" type="submit">Zapisz</button>
    <button style="margin: 5px;" type="button" onclick="movies()">Anuluj</button>
  </form>

</div>

<%- include ../layouts/footer.ejs %>